<div class="container" style="margin-top: 25px;">

  <% if notice %>
    <p id="notice" class="alert alert-warn">
      <%= notice %>
    </p>
  <% end %>

  <%= form_tag(lunches_upload_path, multipart: true, 'data-toggle': 'validator') do %>
    <div id="notice" class="alert alert-info">
      <div>
        <h5>Please make sure your CSV file contains the following columns before upload</h5>
        <ul>
          <li>・id</li>
          <li>・email</li>
          <li>・account</li>
          <li>・division_name</li>
        </ul>
      </div>
    </div>


    <div class="panel panel-default" style="margin-top: 10px;">
      <div class="panel-body">

        <div class="form-group">
          <div class="row">

            <div class="input-field col s2">
              <label class="col-sm-2">Set Group Size</label>
            </div>

            <div class="input-field col s2">
              <input id="group_size" placeholder="6" required="required" data-validate="true" data-required-error="*必須入力です" type="number" name="group_size" value="6"/>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col s2">
            <label class="input-group-btn">
              <span class="btn btn-sm btn-primary">
                 Choose CSV File
                <i class="fa fa-upload"></i><input type="file" id="file-input" onchange="handleFiles(this.files)" name="file" accept="text/plain,text/tab-separated-values,text/csv" style="display:none" data-filesize="20" data-filetype="" required="required" data-required-error="Choose CSV File">
              </span>
            </label>
          </div>

          <div class="col s2">
            <%= submit_tag 'upload', id: 'upload-btn', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>

  <% end %>
</div>
