<div class="container">
  <%= button_to 'shuffle', {:controller => 'lunches', action: 'upload', path: @path, group_size: @group_size } %>

<% @groups.each do |k, v| %>
  <div>
    <h5><%= "Group #{k}" %></h5>
    <p><%= v.join(" ") %></p>
  </div>
<% end %>
</div>
